<div class="row">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate class="col s12">
      <div class="col s12">
        This is an inline input field:
        <div class="input-field inline">
          <input name="attrNumber" ngModel #attrNumber="ngModel" type="number" id="attrNumber">
          <label for="attrNumber">Number Of Attributes</label>
        </div>
    </div>

    <button class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></button>
  </form>
</div>

<div *ngFor="let attr of attributes">
33
</div>

